/*通用样式*/
html, body
  height 100%

.mu-appbar-title
  text-overflow initial

.pull-right
  float right
  &:after
    content "."
    display block
    height 0
    clear both
    visibility hidden

.no-data
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
